<h2 class="mb-4">Your rentings:</h2>
<div class="row">
  <% if @rentings.any? %>
    <% @rentings.each do |renting| %>
      <% if renting.status? %></p>
        <p>Your item is booked!</p>
      <% else %>
        <p>Waiting for confirmation...</p>
      <% end %>
      <p><%= cl_image_tag renting.product.photo.key,  height: 300, width: 400 %></p>
    <% end %>
  <% end %>
</div>

<% if @products.any?%>
  <% @products.each do |product| %>
    <% if product.rentings.any? %>
    <% product.rentings.each do |renting| %>
      <%= cl_image_tag product.photo.key,  height: 300, width: 400 %>
    <%# <%= link_to 'Confirm', edit_product_renting_path(product, renting), class: 'btn btn-primary' %>
    <%= link_to "Confirm", product_renting_path(product, renting), params: { renting: { status: true } }, data: { turbo_confirm: "Are you sure?", turbo_method: :patch}, class: 'btn btn-primary' %>
    <%= link_to product_renting_path(product, renting), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <div class="btn btn-danger"> Delete </div>
        <% end %>
      <% end %>
  <% end %>
<%end %>
<% end %>
