<h2>example</h2>

<p style="color: green"><%= notice %></p>

<%= render @product %>
<p>
<%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
</p>

<div>
  <% if policy(@product).edit? %>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
  <% end %>
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete if policy(@product).destroy? %>
</div>
